<div class="widget clearfix">
    <h3>
        <span class="glyphicon glyphicon-tags"></span>
        关键字
    </h3>
    <hr />
    <div class="user-tags">
        <a href="#" title="已使用*次"><span class="badge badge-lg">编程开发语言</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-lg">c#</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-lg">JAVA</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-md">工具软件</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-md">JavaScript</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-sm">顾问咨询</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-sm">HTML</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-sm">操作系统</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-xs">visualstudio</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-xs">SQL</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-xs">职场</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-xs">法律</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-xss">Python</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-xss">.net</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-xss">css</span></a>
        <a href="#" title="已使用*次"><span class="badge badge-xss">lunux</span></a>
    </div>
    <hr />
    <div class="row">
        <div class="col-sm-8">
            <div class="input-group">
                <input type="text" class="form-control"
                       placeholder="直接输入关键字查找"
                       zyf-keyword-widget-search-value="">
                <span class="input-group-addon" zyf-keyword-widget-search-btn="">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
            </div>
        </div>
        <div class="col-sm-4">
            <a class="btn btn-default">
                换一批
                <span class="glyphicon glyphicon-random"></span>
            </a>
        </div>
    </div>
</div>