@page


<html>
<head>
    <title>常见问题·一起帮</title>
</head>
<body>
    <header>
        <nav>
            <a href="/Index" title="返回首页">
                <img src="/images/logo-big.ico" alt="一起帮logo" />
            </a>
            <div>
                <ul>
                    <li>
                        <a href="/Problem">求助</a>
                        <ul>
                            <li>督导班</li>
                            <li>疑问发布</li>
                            <li>疑问列表</li>
                            <li>---------</li>
                            @*分割线*@
                            <li>列表</li>
                            <li>发布</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">督促</a>
                        <ul>
                            <li>求督促</li>
                            <li>督促别人</li>
                            <li>---------</li>
                            @*分割线*@
                            <li>我的目标</li>
                            <li>我的督促</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">文章</a>
                        <ul>
                            <li>列表</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">APP下载</a>
                        <ul>
                            <li>Android</li>
                            <li>iOS</li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">登录状态</a>
                        <ul>
                            <li>登录</li>
                            <li><a href="register">注册</a></li>
                            <li>忘记密码</li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div>
            页眉---------------------------------------------------
        </div>
    </header>
    <main>
        <h1>常见问题</h1>
        <hr />
        <div>
            <h2>
                <a href="#">账户</a>
            </h2>
            <div>
                <a href="#">邀请码是怎么一回事</a>
            </div>
            <div>
                <a href="#">为什么会提示“邀请人数达到上限”</a>
            </div>
            <div>
                <a href="#">系统是如何确定“最后（上次）登录时间的”</a>
            </div>
            <div>
                <a href="#">“最后登录时间”有什么好处</a>
            </div>
            <div>
                <a href="#">邮箱有什么作用</a>
            </div>
            <div>
                <a href="#">为什么我收不到邮件通知</a>
            </div>
            <h2>
                <a href="#">帮帮点</a>
            </h2>
            <div>
                <a href="#">什么是帮帮点？有什么用？</a>
            </div>
            <div>
                <a href="https://localhost:44331/table">如何才能获得帮帮点</a>
            </div>
        </div>
        <hr />
    </main>
    <aside>
        <h3>人工客服</h3>
        <div>
            <img src="~/images/QQ.png" alt="QQ:" />
            <a>自由飞（2282636022）</a>
        </div>
        <div>
            <img src="~/images/QQ.png" alt="QQ:" />
            <a>cjty8281（314060063）</a>
        </div>
    </aside>
    <footer>
        <div>
            <a>关于我们</a> |
            <a href="faq">常见问题</a> |
            <a>意见建议</a> |
            <a>历史通知</a> |
            <a>友情捐赠</a> |
            <a>融资2019</a>
        </div>
        <div>友情链接：</div>
        <div>
            <a href="">渝ICP备18007191号（备案）</a>
            © 2019 - 首顾科技
        </div>
        <br />
    </footer>
</body>
</html>
