@page
<html>
<head>

</head>
<body>
    <a href="https://localhost:44331/" title="返回首页">
        <img src="/images/logo-big.ico" />
    </a>
    <br />
    <img src="~/images/求助.png" />
    <img src="~/images/督促.png" />
    <img src="~/images/文章.png" />
    <h1>一对一远程协助</h1>
    <p>帮忙就要帮到底</p>
    <h1>就让我来督促你</h1>
    <p>押上你的决心</p>
    <h1>发布之前先付费</h1>
    <p>高质量内容的保证</p>
    <a href="problem">求助</a>
    <a href="">督促</a>
    <a href="">文章</a>
</body>
</html>



