@page
<html>
<head>
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/MoleGame.css" rel="stylesheet" />
</head>
<body style="">
    <div>MoleGame</div>
    <button>开始游戏</button>
    <div timer></div>
    <div class="container">
        <div class="row main-content ">
            <div class="col-lg-12" moleGame-background id="background" style=" background:url(/images/MoleGame/背景.jpg)">
                <div class="row hole-row">
                    <div vacancy class="col-lg-1"></div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                    </div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                    </div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                    </div>
                </div>
                <div class="row hole-row">
                    <div vacancy class="col-lg-1"></div>
                    <div vacancy class="col-lg-1"></div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                    </div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                        <div countdown id="countdown"></div>
                    </div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                    </div>
                </div>
                <div class="row hole-row">
                    <div vacancy class="col-lg-1"></div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                    </div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                    </div>
                    <div hole class="col-lg-3 ">
                        <div class="hole" style="background:url(/images/MoleGame/土堆.png); z-index:1"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var timer = 60;
        //setTimeout(

        //)



        function showTimer() {
            if (timer > 0) {
                setTimeout(showTimer, 1000)
            }
            var timerTag = document.querySelector("[timer]");
            timerTag.innerHTML = timer;
            timer--;
            if (document.querySelectorAll("[mole]").length < 9) {
                showLovelyMole()
            } else {
                    //no showLovelyMole
            }
        }

        function showLovelyMole() {
            var mole = document.createElement("img")
            setTimeout(function () {
                mole.setAttribute("class", "lovelyMole");
                mole.setAttribute("mole", "");
                mole.setAttribute("src", "/images/MoleGame/萌地鼠.png")
                var random = Math.floor(Math.random() * 9);
                while (document.querySelectorAll("[hole]")[random].querySelector("[mole]")) {
                    random = Math.floor(Math.random() * 9);
                }
                document.querySelectorAll("[hole]")[random].appendChild(mole);
                $(mole).animate({ top: "-35px" });
                $(mole).click(function () {
                    $(mole).attr("src", `/images/MoleGame/哭地鼠.png`);
                    $(mole).animate({ top: "15px" }, 1000, function () {
                        $(mole).remove();
                    })
                })
            })
        }
                                                                //$(".lovelyMole").click(function () {
                                                                //    $(".lovelyMole").attr("src", `/images/MoleGame/哭地鼠.png`);
                                                                //    $(".lovelyMole").animate({ top: "15px" }, 1000, function () {
                                                                //        $(".lovelyMole").remove();
                                                                //    });
                                                                //})

                                                                                                                                        //setTimeout(function () {
                                                                                                                                        //   var
                                                                                                                                        //},1000)
                                                                                                                                        //function showCountdown() {
                                                                                                                                        //    var countdown = 3;
                                                                                                                                        //    //var countdownTag = document.createElement("span");
                                                                                                                                        //    //countdownTag.setAttribute("", "countdown");
                                                                                                                                        //    //countdownTag.innerHTML = countdown;
                                                                                                                                        //    document.querySelector("[countdown]").innerHTML = countdown;

                                                                                                                                        //}
                                                                                                                                        //function startCountdown() {
                                                                                                                                        //    if (countdown > 1) {
                                                                                                                                        //        countdown--;
                                                                                                                                        //    }
                                                                                                                                        //}
                                                                                                                                        //startCountdown();
                                                                                                                                        //document.querySelector("[countdown]")
                                                                                                                                        //$("body").append(`<img src="/images/MoleGame/爆炸.png" />`)
                                                                                                                                        //$("button").click(function () {
                                                                                                                                        //    $("body").attr("style", "cursor: url(/images/MoleGame/pending.png) 31 51,auto");
                                                                                                                                        //    $("body").mouseup(function (event) {
                                                                                                                                        //        $(event).preventDefault;
                                                                                                                                        //        $("body").attr("style", "cursor: url(/images/MoleGame/pending.png) 31 51,auto");
                                                                                                                                        //    });
                                                                                                                                        //    $("body").mousedown(function (event) {
                                                                                                                                        //        $(event).preventDefault;
                                                                                                                                        //        $("body").attr("style", "cursor: url(/images/MoleGame/hitted.png) 31 51,auto");
                                                                                                                                        //    });
                                                                                                                                        //})

    </script>
</body>
</html>