@page
<html>
<head>
</head>
<body>
    <a href="https://localhost:44331/" title="返回首页">
        <img src="/images/logo-big.ico" />
    </a>
    <div>
        <p>不显示：</p>
        <label>
            <input type="checkbox" name="已酬谢" />已酬谢
        </label>
        <label>
            <input type="checkbox" name="已撤销" />已撤销
        </label>
        <label>
            <input type="checkbox" name="协助中" />协助中
        </label>
    </div>
    <div>
        <p>只显示：</p>
        <label>
            <input type="checkbox" name="我的关注" />我的关注
        </label>
        <label>
            <input type="checkbox" name="有总结" />有总结
        </label>
    </div>
    <br /><br />
    <div>
        <div>2019年08月05日 10点07分</div>
        <span>28zhu</span><br />
        <span>已撤销</span>
        <a href="">
            有一个自定义UI控件，此控件使用在不同的系统中会有不同的呈现，
            之前的做法是各种switch case，阅读代码时让人很难受，另外新创建一
            个用到此控件的系统，要修改代码的地方也多，只要有swich case 的地
            方都要再加一个case。请教一个好一些的方式来处理这个问题，目的是
            让代码更加清楚
        </a>
        <br /><br />
        <span>
            RT，也不知道描述的清楚不清楚。求一个思路
        </span>
        <span>
            <a href="" title="全文">......</a>
        </span>
        <br /><br />
        <div>
            <span>
                <a href="" title="已使用1次">不限</a>
            </span>
            <span>
                <a href="" title="已使用1次">顾问咨询</a>
            </span>
            <span>
                <a href="" title="已使用1次">编程开发语言</a>
            </span>
        </div><br />
        <div>
            <span>
                悬赏：
            </span>
            <span title="定额">
                15
            </span>
            &nbsp;&nbsp;
            <span>
                <a href="">应答：</a>
            </span>
            <span>
                1
            </span>
            &nbsp;&nbsp;
            <span>
                <a href="">总结：</a>
            </span>
            <span>
                0
            </span>
        </div>
    </div>
    <br /><br />
    <div>
        <div>2019年06月15日 23点27分</div>
        <span> WhiteWater </span><br />
        <span>已撤销</span>
        <a href="">
            手动导入jar包，运行报错的问题
        </a>
        <br /><br />
        <span>
            运行就报这个错误，这个jar包我导入项目了的，不然编译都无法通过。
        </span>
        <span>
            <a href="" title="全文">......</a>
        </span>
        <br /> <br />
               <div>
                   <span>
                       <a href="" title="已使用1次">windows</a>
                   </span>
                   <span>
                       <a href="" title="已使用1次">linux</a>
                   </span>
                   <span>
                       <a href="" title="已使用1次">IDEA</a>
                   </span>
                   <span>
                       <a href="" title="已使用1次">JAVA</a>
                   </span>
                   <span>
                       <a href="" title="已使用1次">C++</a>
                   </span>
                   <span>
                       <a href="" title="已使用1次">工具软件</a>
                   </span>
                   <span>
                       <a href="" title="已使用1次">操作系统</a>
                   </span>
                   <span>
                       <a href="" title="已使用1次">编程语言</a>
                   </span>
               </div><br />
        <div>
            <span>
                悬赏：
            </span>
            <span title="定额">
                15
            </span>
            &nbsp;&nbsp;
            <span>
                <a href="">应答：</a>
            </span>
            <span>
                1
            </span>
            &nbsp;&nbsp;
            <span>
                <a href="">总结：</a>
            </span>
            <span>
                0
            </span>
        </div>
    </div>
</body>
</html>
