@page
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>注册·peng</title>
    <link href="~/images/logo.ico" type="image/ico" rel="icon" media="screen" />
</head>
<body>
    <nav>
        <a href="https://localhost:44331/" title="返回首页">
            <img src="/images/logo-big.ico" alt="一起帮logo" />
        </a>
        <div>
            <ul>
                <li>
                    <a href="#">求助</a>
                    <ul>
                        <li>督导班</li>
                        <li>疑问发布</li>
                        <li>疑问列表</li>
                        <li>---------</li>
                        @*分割线*@
                        <li>列表</li>
                        <li>发布</li>
                    </ul>
                </li>
                <li>
                    <a href="#">督促</a>
                    <ul>
                        <li>求督促</li>
                        <li>督促别人</li>
                        <li>---------</li>
                        @*分割线*@
                        <li>我的目标</li>
                        <li>我的督促</li>
                    </ul>
                </li>
                <li>
                    <a href="#">文章</a>
                    <ul>
                        <li>列表</li>
                    </ul>
                </li>
                <li>
                    <a href="#">APP下载</a>
                    <ul>
                        <li>Android</li>
                        <li>iOS</li>
                    </ul>
                </li>
                <li>
                    <a href="#">登录状态</a>
                    <ul>
                        <li>登录</li>
                        <li><a href="register">注册</a></li>
                        <li>忘记密码</li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
    <header>
        <div>
            页眉---------------------------------------------------
        </div>
    </header>
    <h1>注册</h1>
    <hr />
    <a href="">为什么需要邀请</a>
    <form method="post">
        邀请人：（*必填，<a href="">没有邀请人</a>）<br />
        <input type="text" placeholder="他的用户名" name="inviter username" size="50" /><br />
        邀请码：（*必填，）<br />
        <input type="text" placeholder=" 四位数字" name="Invitation code" size="50" /><br />
        用户名：（*必填，）<br />
        <input type="text" placeholder=" 登录用户名，可修改，不可重复" name="username" size="50" />  <br />
        密码：（*必填，）<br />
        <input type="password" placeholder="不少于4个字符" name="password" size="50" /><br />
        验证密码：（*必填，）<br />
        <input type="password" placeholder="与密码相同" name="password" size="50" /><br />
        验证码：（*必填，）<br />
        <input type="text" name="security code" />
        <img src="~/images/1565936228559.jpeg" width="50 " />
        <a href="">看不清楚</a>
        <br />
        <input type="submit" />
        <input type="reset" />
    </form>
    <br /><br /><br />
    <hr />
    <footer>
        <div>
            <a>关于我们</a> |
            <a href="faq">常见问题</a> |
            <a>意见建议</a> |
            <a>历史通知</a> |
            <a>友情捐赠</a> |
            <a>融资2019</a>
        </div>
        <div>友情链接：</div>
        <div>
            <a href="">渝ICP备18007191号（备案）</a>
            © 2019 - 首顾科技
        </div>
        <br />
    </footer>
</body>
</html>
