@page
<html>
<head>
</head>
<body>
    <a href="https://localhost:44331/" title="返回首页">
        <img src="/images/logo-big.ico" />
    </a>
    <h1>注册</h1>
    <hr />
    <a href="">为什么需要邀请</a>
    <form method="post">
        邀请人：（*必填，<a href="">没有邀请人</a>）<br />
        <input type="text" placeholder="他的用户名"name="inviter username" size="50"/><br />
        邀请码：（*必填，）<br />
        <input type="text"placeholder=" 四位数字"name="Invitation code"size="50"/><br />
        用户名：（*必填，）<br />
        <input type="text"placeholder=" 登录用户名，可修改，不可重复"name="username"size="50"  />  <br />
        密码：（*必填，）<br />
        <input type="password"placeholder="不少于4个字符"name="password"size="50"/><br />
        验证密码：（*必填，）<br />
        <input type="password"placeholder="与密码相同"name="password"size="50"/><br />
        验证码：（*必填，）<br />
        <input type="text"name="security code" />
        <img src="~/images/1565936228559.jpeg" width="50 " />
        <a href="">看不清楚</a>
        <br />
        <input type="submit" />
        <input type="reset" />
    </form>
</body>
</html>
