@page
<html>
<head>
</head>
<body>
    <script src="~/js/ScriptTest.js">  </script>
    @*<script>
        var scorse = [67, 11, 1, 0.8, 73, 77, 83, 94, 63];
        for (var i = 0; i < scorse.length; i++) {
            if (scorse[i] > scorse[i + 1]) {
                var temp = scorse[i];
                scorse[i] = scorse[i + 1];
                scorse[i + 1] = temp;
                for (var i = 0; i < length; i++) {
                    if (scorse[i-1] < scorse[i-2]) {
                        scorse[i] = scorse[i - 1];
                        scorse[i - 1] = temp;
                    } else {
                        break
                    }
                };
            } else {
            };
        };*@
    </script>
</body>
</html>