@page
<html>
<head>
    @*<script src="~/js/ScriptTest.js"></script>*@
    @*<script src="~/js/Homeword.0905.js"></script>*@
    @*<script src="~/js/Homeword.0907.js"></script>*@
    @*<script src="~/js/Homeword.0909.js"></script>*@
    @*<script src="~/js/Homeword.0910.js"></script>*@
</head>
<body>
    <script>
        //用class声明一个课程（Course），包含属性：name，startDate，endDate，students，以及方法：begin()和end()
        //生成两个课程对象：JavaScript和SQL
        //调用对象的begin()和end()方法，可以在控制台输出开课信息，如：JavaScript于2019年5月5日开课，共有5名同学（两开花、王枫、王平、采铃、老程）报名。
        //不修改class，动态的改变begin()方法，使其能影响所有Course对象
        //让end()方法为各自对象“自有”，其他对象无法修改
        //在Course中使用getter和setter包装endDate，保证endDate不会小于startDate，也不会比startDate多出365天
        //判断并证明以下说法：
        //ES里的class其实就是一个function
        //constructor总是返回class的实例
        //当new了一个class之后，class里声明的方法就会被copy到新生成的实例对象上
        //JavaScript里面，类就是对象，对象也是类
        //只有Function才有prototype
        //Javascript是动态类型语言，所以对象的类型是可以随意更改的
        class Course {
            constructor(name, startDate, endDate, students) {
                this.name = name;
                this.startDate = startDate;
                this.endDate = endDate;
                this.students = students;
            }
            begin() {
                console.log(this.name + "于" + this.startDate + "开课，共有五名同学" + this.students + "同学报名")
            }
            end() {
                console.log(this.name)
            }
        }
        let JavaScript = new Course("JavaScript", "2019年5月5日", "2019年5月10日", "两开花、王枫、王平、采铃、老程");
        let SQL = new Course("JavaScript", "2019年5月5日", "2019年5月10日", "两开花、王枫、王平、采铃、老程");
    </script>


</body>
</html>