@page
<html>
<head>
    @*<script src="~/js/ScriptTest.js"></script>*@
    @*<script src="~/js/Homeword.0905.js"></script>*@
    @*<script src="~/js/Homeword.0907.js"></script>*@
    @*<script src="~/js/Homeword.0909.js"></script>*@
    <script src="~/js/Homeword.0910.js"></script>
</head>
<body>
</body>
</html>