@page


<html>
<head>
    <title>常见问题·peng</title>
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/FAQ.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

    <main>
        <div class="container">
            <div class="row main-content">
                <!--正文-->
                <div class="col-lg-8">
                    <span id="flag-Service" class="flag  visible-xs visible-sm">
                        <a href="#">人工客服</a>
                    </span>
                    <h2>常见问题</h2>
                    <hr />
                    <h3><a href="~/FAQ/Credit"> <span class="glyphicon glyphicon-question-sign"></span>账户</a></h3>
                    <p><a href="#">Q：邀请码是怎么回事</a></p>
                    <p><a href="#">Q：为什么会提示“邀请人数达到上限”？</a></p>
                    <p><a href="#">Q：系统如何是确定“最后（上次）登录时间”的？</a></p>
                    <p><a href="#">Q：“最后登录时间”有什么用处？</a></p>
                    <p><a href="#">Q：邮箱有什么作用？</a></p>
                    <p><a href="#">Q：为什么我收不到邮件通知？</a></p>
                    <h3><a href="~/FAQ/Credit"> <span class="glyphicon glyphicon-question-sign"></span>帮帮点</a></h3>
                    <p><a href="/FAQ/Credit#what">Q：什么是帮帮点？有什么用处？</a></p>
                    <p><a href="/FAQ/Credit#gain">Q：如何才能获得帮帮点？</a></p>
                    <h3><a href="#"> <span class="glyphicon glyphicon-question-sign"></span>帮帮币</a></h3>
                    <p><a href="#">Q：什么是帮帮币？有什么用处？</a></p>
                    <p><a href="#">Q：引入“帮帮币”的目的是什么？</a></p>
                    <p><a href="#">Q：如何才能获得帮帮币？</a></p>
                    <p><a href="#">Q：作为买方，如何保证交易安全？</a></p>
                    <p><a href="#">Q：如何出售帮帮币？</a></p>
                    <p><a href="#">Q：如何成为“系统推荐卖家”？</a></p>
                    <p><a href="#">Q：作为卖方，如何保证交易安全？</a></p>
                    <p><a href="#">Q：帮帮币出售时为什么要设置“门槛”？</a></p>
                </div>
                <!--侧边栏-->
                <aside class="col-lg-4 widget">
                    <div>
                        <h4>人工客服</h4>
                        <div>
                            <img src="~/images/QQ.png" alt="QQ:" />
                            <a>自由飞（2282636022）</a>
                        </div>
                        <div>
                            <img src="~/images/QQ.png" alt="QQ:" />
                            <a>cjty8281（314060063）</a>
                        </div>
                    </div>
                </aside>
            </div>
        </div>
    </main>

</body>
</html>
