@page
@model RazorPage.LogOnModel
@{
    ViewData["Title"] = "LogOn";
    Layout = "~/Pages/Shared/DualColumn.cshtml";
}
@section head{
    <title>登录·peng</title>
    <link href="~/css/LogOn.css" rel="stylesheet" />
}
@section title{
    登录
}
@section left{
    <h1>@ViewData["userName"]</h1>
    <div>
        <form method="post">
            <div class="form-group">
                <label asp-for="UserName">用户名：（* 必填）</label>
                <input asp-for="UserName" class="form-control" placeholder="不是昵称，是登录用户名">
                <span asp-validation-for="UserName"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password">密码：（* 必填）</label>
                <input asp-for="Password" class="form-control" placeholder="不少于6个字符">
                <span asp-validation-for="Password"></span>
            </div>
            <div class="form-group">
                <label asp-for="SecurityCode">验证码：（*必填，）</label>
                <br />
                <input class="form-control" asp-for="SecurityCode" />
                <img src="/images/1565936228559.jpeg" asp-append-version="true" alt="验证码" title="验证码" width="30" />
                <a href="#">看不清楚</a>
                <br />
                <span asp-validation-for="SecurityCode"></span>
            </div>
            <div>
                <input class="btn btn-primary" type="submit" asp-page="LogOn" />
                <label asp-for=Remember data-toggle="tooltip" data-placement="top" title="勾选之后14天之内不用再次登录">
                    <input asp-for="Remember" />
                    记住我
                </label>
            </div>
        </form>
    </div>
}
@section right{
    <div>
        <a><h3><span class="glyphicon glyphicon-registration-mark"></span>说明</h3></a>
        <ol>

            <li>我们希望通过<a href="/About/Us">一起帮</a>，能<span class="text-primary text-bold">直接解决</span>大家在<span class="text-primary">电脑操作/软件使用/编程学习</span>等方面的<span class="text-primary text-bold">具体问题</span>。</li>
            <li>现在互联网远程技术<span class="text-muted">（比如QQ桌面共享）</span>已经非常成熟，当我们再遇到上述问题，如果别人能<span class="text-primary">直接远程给予帮助</span>，岂不是好？</li>
            <li>当然，你也可以在你熟悉的领域去<span class="text-primary">帮助别人</span>。由此而形成我们这个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。</li>
            <li>公平起见，我们还引入了 帮帮<span class="water">点</span>/<span class="credit">币</span>/<span class="bean">豆</span> 三级概念，以记录和衡量社区成员的收获和贡献。</li>
            <li>赶快加入我们，赚取帮帮币吧！</li>

        </ol>
    </div>
}




