@page


<!DOCTYPE html>

<html>
<head>
    <title>全部消息·一起帮·peng</title>
    <link href="~/css/Massage.css" rel="stylesheet" />
    <link href="~/css/navbar.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>

    <main class="container">
        <div class="row">
            <!--正文-->
            <div class="col-lg-8">
                <h2 class="page-header"><span class="glyphicon glyphicon-bell"></span>全部消息</h2>
                <div class="row visible-sm visible-md visible-lg">
                    <div class="col-sm-1">时间</div>
                    <div class="col-sm-2">
                        <a data-toggle="tooltip" title="" data-original-title="筛选/退订">订阅种类 <span class="glyphicon glyphicon-cog"></span></a>
                    </div>
                    <div class="col-sm-2">发送给</div>
                    <div class="col-sm-7">内容</div>
                </div>
                <hr class="thin visible-sm visible-md visible-lg">
                <div class="row">
                    <div class="col-xs-2 col-sm-1" data-toggle="tooltip" title="" data-original-title="2019年10月05日 22点18分">
                        <small>
                            <span class="glyphicon glyphicon-calendar"></span>
                        </small>
                    </div>
                    <div class="col-sm-2">
                        被人捡走
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <a href="/User/4277" peng-show-contact="4277">
                            张吵吵113
                        </a>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                            <span>②</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <a class="text-info" href="http://17bang.ren/User/4092" peng-show-contact="4092">Saber</a>
                        捡走了
                        <recipient>你</recipient>
                        <a class="text-info" href="http://17bang.ren/FAQ/Money#gain">掉落</a>的  <a class="text-info" href="http://17bang.ren/FAQ/Money">帮帮币</a> 4枚
                    </div>
                </div>
                <hr class="thin visible-sm visible-md visible-lg">
                <div class="row">
                    <div class="col-xs-2 col-sm-1" data-toggle="tooltip" title="" data-original-title="2019年10月05日 22点18分">
                        <small>
                            <span class="glyphicon glyphicon-calendar"></span>
                        </small>
                    </div>
                    <div class="col-sm-2">
                        被人捡走
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <a href="/User/4277" peng-show-contact="4277">
                            张吵吵113
                        </a>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                            <span>②</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <a class="text-info" href="http://17bang.ren/User/4092" peng-show-contact="4092">Saber</a>
                        捡走了
                        <recipient>你</recipient>
                        <a class="text-info" href="http://17bang.ren/FAQ/Money#gain">掉落</a>的  <a class="text-info" href="http://17bang.ren/FAQ/Money">帮帮币</a> 4枚
                    </div>
                </div>
                <hr class="thin visible-sm visible-md visible-lg">   <div class="row">
                    <div class="col-xs-2 col-sm-1" data-toggle="tooltip" title="" data-original-title="2019年10月05日 22点18分">
                        <small>
                            <span class="glyphicon glyphicon-calendar"></span>
                        </small>
                    </div>
                    <div class="col-sm-2">
                        被人捡走
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <a href="/User/4277" peng-show-contact="4277">
                            张吵吵113
                        </a>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                            <span>②</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <a class="text-info" href="http://17bang.ren/User/4092" peng-show-contact="4092">Saber</a>
                        捡走了
                        <recipient>你</recipient>
                        <a class="text-info" href="http://17bang.ren/FAQ/Money#gain">掉落</a>的  <a class="text-info" href="http://17bang.ren/FAQ/Money">帮帮币</a> 4枚
                    </div>
                </div>
                <hr class="thin visible-sm visible-md visible-lg">   <div class="row">
                    <div class="col-xs-2 col-sm-1" data-toggle="tooltip" title="" data-original-title="2019年10月05日 22点18分">
                        <small>
                            <span class="glyphicon glyphicon-calendar"></span>
                        </small>
                    </div>
                    <div class="col-sm-2">
                        被人捡走
                    </div>
                    <div class="col-xs-12 col-sm-2">
                        <a href="/User/4277" peng-show-contact="4277">
                            张吵吵113
                        </a>
                        <a href="/FAQ/Credit#" data-toggle="tooltip" title="" class="text-muted" style="position:relative; top:-1px;" data-original-title="中级学徒">
                            <span>②</span>
                        </a>
                    </div>
                    <div class="col-xs-12 col-sm-7">
                        <a class="text-info" href="http://17bang.ren/User/4092" peng-show-contact="4092">Saber</a>
                        捡走了
                        <recipient>你</recipient>
                        <a class="text-info" href="http://17bang.ren/FAQ/Money#gain">掉落</a>的  <a class="text-info" href="http://17bang.ren/FAQ/Money">帮帮币</a> 4枚
                    </div>
                </div>
                <hr class="thin visible-sm visible-md visible-lg">
            </div>
            <!--侧边栏-->
            <aside class="col-lg-3 widget">
                <div>
                    <h4>人工客服</h4>
                    <div>
                        <img src="~/images/QQ.png" alt="QQ:" />
                        <a>自由飞（2282636022）</a>
                    </div>
                    <div>
                        <img src="~/images/QQ.png" alt="QQ:" />
                        <a>cjty8281（314060063）</a>
                    </div>
                </div>
            </aside>
        </div>
    </main>

    <script>
        var selectAll = document.querySelector("[peng-select-all]")
        selectAll.onclick = function () {
            let select = document.querySelectorAll("[peng-select]");
            for (var i = 0; i < select.length; i++) {
                select[i].checked = selectAll.checked;
            }
        }
    </script>
</body>
</html>
