@page
@model RazorPage.RegisterModel
@section head{
    <title>注册·peng</title>
    <link href="~/css/navbar.css" rel="stylesheet" />
    <link href="~/css/Register.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
}
<main>
    <div class="container">
        <div class="row">
            <div class=" col-lg-12">
                <h2><span class="glyphicon glyphicon-registration-mark"></span>注册</h2>
                <hr />
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <form method="post">
                    <div class="form-group" id="yellow-highlight">
                        <div class="text-right">
                            <a href="#"> <span class="glyphicon glyphicon-question-sign"></span>为什么需要邀请</a>
                        </div>
                        <label asp-for="inviter">邀请人：（*必填，<a href="">没有邀请人</a>）</label>
                        <input type="text" class="form-control" placeholder="他的用户名" asp-for="inviter" />
                        <label asp-for="InvitationCode">邀请码：（*必填，）</label>
                        <input type="text" class="form-control" placeholder=" 四位数字" asp-for="InvitationCode" />
                    </div>
                    <div class="form-group">
                        <label asp-for="UserName">用户名：（*必填，）</label>
                        <input type="text" class="form-control" placeholder=" 登录用户名，可修改，不可重复" asp-for="UserName" />
                        <label asp-for="Password">密码：（*必填，）</label>
                        <input type="password" class="form-control" placeholder="不少于4个字符" asp-for="Password" />
                        <label asp-for="VerifyPassword">验证密码：（*必填，）</label>
                        <input type="password" class="form-control" placeholder="与密码相同" asp-for="VerifyPassword" />
                        <label asp-for="SecurityCode">验证码：（*必填，）</label>
                        <div class="form-group">
                            <input type="text" class="form-control" name="securityCode" asp-for="SecurityCode" />
                            <img src="/images/1565936228559.jpeg" asp-append-version="true" alt="验证码" title="验证码" width="30" />
                            <a href="#">看不清楚</a>
                        </div>
                        <div>
                            <input class="btn btn-primary" type="submit" asp-page="Register" />
                            <input class="btn btn-default" type="reset" />
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-2"></div>
            <aside class="col-lg-5">
                <a><h3><span class="glyphicon glyphicon-registration-mark"></span>说明</h3></a>
                <ol>
                    <li>
                        <span>
                            我们希望通过一起帮，能直接解决大家在电脑操作/软件使用/编程学习等方面的具体问题。
                        </span>
                    </li>
                    <li>
                        <span>
                            现在互联网远程技术（比如QQ桌面共享）已经非常成熟，当我们
                            再遇到上述问题，如果别人能直接远程给予帮助，岂不是好？
                        </span>
                    </li>
                    <li>
                        <span>
                            当然，你也可以在你熟悉的领域去帮助别人。由此而形成我们这
                            个“你帮他他帮我我帮你，大家一起帮”的网上互助社区平台。
                        </span>
                    </li>
                    <li>
                        <span>
                            公平起见，我们还引入了 帮帮点/币/豆 三级概念，以记录和衡量社区成员的收获和贡献。
                        </span>
                    </li>
                    <li>
                        <span>
                            赶快加入我们，赚取帮帮币吧！
                        </span>
                    </li>
                    <li>
                        <span>
                            <a>了解更多</a>
                        </span>
                    </li>
                </ol>
            </aside>
        </div>
    </div>
</main>

