body {
    /*cursor: url(/images/MoleGame/pending.png),auto*/
}
#background {
    width: 1020px;
    height: 676px;
}

.hole-row {
    padding-top: 100px;
    padding-left: 90px;
}

.badMole {
    position: absolute;
    left: 84px;
    width: 49px;
    height: 49px;
    top: 15px;
}

.lovelyMole {
    position: absolute;
    left: 84px;
    width: 49px;
    height: 49px;
    top: 15px;
}

.hole {
    width: 190px;
    height: 78px;
    position: relative;
}

#countdown{
    position:absolute;
}