body {
}

.problem-status {
    font-size: 70%;
    padding: 2px 8px;
    vertical-align: middle;
    border-radius: 10px;
    color: #fff;
}

.label-default {
    background-color: #777777;
}

.article-main {
    font-size: 24px;
    word-break: break-all;
}

#sifter {
    border-left: solid 5px #777;
}

.glyphicon-bitcoin {
    color: rgba(203,180,26,1);
}

.glyphicon-heart {
    color: red;
}
