body {
    padding-top: 54px;
    padding-bottom: 50px;
    margin: 0;
}

.top-user-message {
    background-color: #eee;
    margin-top: 2px;
    padding: 5px 20px;
    border-bottom-left-radius: 2px 3px;
    border-bottom-right-radius: 2px 3px;
}


table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
}

td.subtitle {
    padding: 4px 36px !important;
    background-color: antiquewhite;
}

.widget {
    border: dashed 1px #eee;
    padding: 15px;
    margin-bottom: 30px;
}

.main-content {
    margin-top: 55px;
}

.h2-inline {
    font-size: 30px;
}

.navbar {
    min-height: 50px;
    margin-bottom: 20px;
}

#navbar-content {
    padding: 0 !important;
}

#一起帮logo {
    float: left;
}

.flag {
    z-index: 100;
    position: fixed;
    background-color: rgba(128,255,212,.7);
    padding: 5px 7px;
    border-bottom-left-radius: 6px;
    border-top-right-radius: 6px;
}

#人工客服{
    top:60px;
}