body {
}

.widget {
    border: 1px dashed #eee;
    padding: 15px;
    margin-bottom: 30px;
    word-break: break-all;
    background-color: #fff;
}

.user-tags span {
    margin: 5px 20px 5px 0;
    word-break: keep-all !important;
}

.badge-lg {
    font-size: 21px;
    background-color: rgba(51, 51, 51, 0.96875);
}

.badge-md {
    font-size: 19.5px;
    background-color: rgba(51, 51, 51, 0.875);
}

.badge-sm {
    font-size: 17.5px;
    background-color: rgba(51, 51, 51, 0.8125);
}

.badge-xs {
    font-size: 16px;
    background-color: rgba(51, 51, 51, 0.71875);
}

.badge-xss {
    font-size: 14px;
    background-color: rgba(51, 51, 51, 0.59375);
}

table.table-none-border {
    width: 100%;
    max-width: 100%;
    border-collapse: collapse !important;
}

.ad-in-widget {
    margin: 8px 0;
}

.order-list, .order-tag {
    width: 18px;
    padding: 4px 8px;
    text-align: center;
    border-radius: 4px;
    color: #fff;
    margin-right: 10px;
}

.item-1 {
    background-color: #000;
}

.item-2 {
    background-color: #696969;
}

.item-3 {
    background-color: gray;
}

.item-4 {
    background-color: #a9a9a9;
}
