@page
<html>
<head>
    <title>忘了·peng</title>
    <link href="/images/logo.ico" type="image/ico" rel="icon" media="screen" />
    <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="/css/navbar.css" rel="stylesheet" />
    <link href="~/css/Forget.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
</head>
<body>
    <header>
        <!--导航-->
        <div class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid container">
                <!--标题-->
                <div class="navbar-left">
                    <a href="/Index" title="返回首页" class="navbar-left pull-left">
                        <img src="/images/logo-big.ico" alt="一起帮logo" />
                    </a>
                    <p class="navbar-text pull-left">
                        <span>一起帮</span>
                        <span class="visible-lg-inline visible-md-inline">·网络互助平台</span>
                    </p>
                </div>
                <!--移动端-->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed"
                            data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                            aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <!--pc-->
                <div class="collapse navbar-collapse">
                    <nav class="navbar-right">
                        <ul class="nav navbar-nav">
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class=" glyphicon glyphicon-question-sign"></span>
                                    求助
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">督导班</a></li>
                                    <li><a href="#">疑问发布</a></li>
                                    <li><a href="#">疑问列表</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">列表</a></li>
                                    <li><a href="#">发布</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class=" glyphicon glyphicon-eye-open"></span>
                                    督促
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">求督促</a></li>
                                    <li><a href="#">督促别人</a></li>
                                    <li role="separator" class="divider"></li>
                                    <li><a href="#">我的目标</a></li>
                                    <li><a href="#">我的督促</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    <span class="glyphicon glyphicon-paperclip"></span>
                                    文章
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">列表</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    APP下载
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">Android</a></li>
                                    <li><a href="#">iOS</a></li>
                                </ul>
                            </li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle"
                                   data-toggle="dropdown" role="button"
                                   aria-haspopup="true" aria-expanded="false">
                                    登录状态
                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li><a href="#">登录</a></li>
                                    <li><a href="/register">注册</a></li>
                                    <li><a href="#">忘记密码</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav>
                    <div style="clear:both"></div>
                </div>
            </div>
        </div>
        <!--页眉-->
        <div class="container visible-lg top-user-message">
            <a class="pull-right">全部消息</a>
            <div>
                <span> Saber捡走了 skyline ② 掉落的 帮帮币 1枚 </span>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="row">
                <div class=" col-lg-12">
                    <h2>(｡ŏ_ŏ) 忘了 </h2>
                    <hr />
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="table">
                        <form action="/" method="post" novalidate="novalidate">
                            <div class="form-group">
                                <label for="inviterusername">Email：（* 必填）</label>
                                <input type="text" class="form-control" placeholder="他的用户名" name="inviterusername" />
                            </div>
                            <div class="form-group">
                                <label for="invitationCode">通过用户名查找Email：</label>
                                <div class="input-group">
                                    <input type="text" class="form-control"
                                           placeholder=" 必须全称，且不要忘了点击 搜索 按钮"
                                           name="invitationCode" />
                                    <span class="input-group-addon"> <a class="glyphicon glyphicon-search"></a></span>
                                </div>
                            </div>
                            <label for="invitationCode">验证码：（*必填，）</label>
                            <div class="form-group">
                                <input type="text" class="form-control" id="input-securityCode" name="securityCode" />
                                <img src="/images/1565936228559.jpeg" alt="验证码" title="验证码" width="30" />
                                <a href="#">看不清楚</a>
                            </div>
                            <div>
                                <input class="btn btn-primary" type="submit" value="发送邮件" />
                                <input class="btn btn-default" type="reset" />
                            </div>

                        </form>
                    </div>
                </div>
                <div class="col-lg-2"></div>
                <aside class="col-lg-5">
                    <a><h3><span class="glyphicon glyphicon-registration-mark"></span>说明</h3></a>
                    <ol>
                        <li>
                            重置密码的邮件会发送到你填写的Email中。
                        </li>
                        <li>
                            输入用户名之后，还要点击旁边的<span class="glyphicon glyphicon-search"></span> 按钮，以完成Email地址的填写。
                        </li>
                        <li>
                            现目前，还没有针对未激活Email做特殊提示，请务必确保Email正确。
                        </li>
                    </ol>
                </aside>
            </div>
        </div>
    </main>
    <footer class=" container">
        <hr />
        <div>
            <a>关于我们</a> |
            <a href="/faq">常见问题</a> |
            <a>意见建议</a> |
            <a>历史通知</a> |
            <a>友情捐赠</a> |
            <a>融资2019</a>
        </div>
        <div>友情链接：</div>
        <div class="pull-right">
            <a href="">渝ICP备18007191号（备案）</a>
            © 2019 - 首顾科技
        </div>
    </footer>
</body>
</html>
